/* Archivo estilos.css */
/* Este archivo define los estilos para la landing page del proyecto */
/* de Caroline Sada */


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eff4f5; /*Define color de fondo del cuerpo */
    margin: 0; /* Eliminar márgenes para evitar espacios no deseados */
    padding: 0; /* Eliminar relleno para evitar espacios no deseados */
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Evitar que el contenido se desborde fuera del contenedor */
    background-color: #d4e6eb; /* Fondo del contenedor */
}

.header-image {
    width: 50%; /* Ocupa la mitad del ancho */
    height: auto; /* Para mantener la relación de aspecto */
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    font-weight: bold; /* Hace que el logo aparezca en negrita */
}

.text-container {
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat */
    font-size: 1.5rem; /* Tamaño de letra más grande */
}

h3 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 40px; /* Definir margen superior */
    margin-bottom: 20px;
}

h5 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 10px;
    margin-bottom: 20; /* Eliminar margen inferior */
}

h6 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 30px;
    margin-bottom: 10; /* Eliminar margen inferior */
}

#features h4, #about h4 {
    color: #5CA1B4; /* Cambiar el color del texto del h4 a azul */
}

/* Estilos para el contenedor del logo y texto persuasivo */
.logo-container {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 20px; /* Ajusta margen superior */
}

/* Estilos para el logo dentro del contenedor */
.logo-container .logo {
    font-family: 'Parisienne', cursive; /* Tipo de letra igual al del encabezado */
    font-size: 2rem; /* Tamaño de fuente */
    color: black; /* Color del texto */
    font-weight: bold; /* Hacer que el texto sea negrita */
}

/* Estilos para el texto dentro del contenedor */
.logo-container p {
    font-family: 'Montserrat', sans-serif; /* Tipo de letra */
    font-size: 1.5rem; /* Tamaño de fuente */
    margin-top: 3px; /* Ajustar margen superior para reducir el espacio entre el logo y el texto */
}

.text-end {
    font-size: 2rem; /* Tamaño de letra más grande */
    color: #386E82; /* Color de texto */
}

#image {
    background-color: #a7c8d1; /* Color de fondo del contenedor del texto */
    padding: 20px; /* Agregar espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
}

.outstanding-container {
    position: relative; /* Posición relativa para posicionar el texto sobresaliente */
    margin-top: 20px; /* Margen superior para separar del borde superior */
}

.outstanding-text {
    position: absolute; /* Posición absoluta para superponer el texto */
    top: -50px; /* Ajusta altura */
    left: 5px; /* Ajusta a la izquierda */
    background-color: #386E82; /* Color de fondo */
    padding: 5px 10px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-family: Montserrat, Geneva, Tahoma, sans-serif; /* Define el tipo de letra */
    font-size: 2vw; /* Tamaño de la fuente */
    z-index: 1; /* Para que esté sobre el texto principal */
}

.col-lg-6 img {
    margin-bottom: 20px; /* Ajusta margen inferior */
}

#features h4,
#features ul {
    text-align: left; /* Alinea el texto al centro */
}

.text-center {
    text-align: center; /* Alinea los titulos de about y features al centro */
}

.no-bullets { /* Elimina viñetas de la lista */
    list-style-type: none;
}

/* Asegurar que no haya espacio adicional en los elementos de la lista */
#features ul {
    padding-left: 0;
}

#features li { /* Define margen de la lista */
    margin-left: 0;
}

#seccion-fondo { /* Define color de fondo de la sección "Sobre el curso" */
    background-color: #d4e6eb; /* Color de fondo de la sección */
    padding: 20px; /* Opcional: añade relleno para que el color de fondo sea visible */
}

.otro-color-fondo {
    background-color: #9dc0ca; /* Define color de fondo  */
    padding: 20px; /* Opcional: añade relleno para que el color de fondo sea visible */
    margin-top: 40px; /* Agrega un margen superior */
    margin-bottom: 40px; /* Agrega un margen inferior */
}

.titulo-h6 { /* Define color del titulo h6 */
    color: #386e82; /* Color de fondo del título */
}

.form-container { /* Define estilos para el contenedor del formulario */
    background-color: #FFFFFF; /* Cambiar color de fondo del contenedor del formulario */
    padding: 20px; /* Agregar espacio alrededor del formulario */
    border-radius: 6px; /* Agregar borde redondeado al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra al contenedor */
}

form { /* Define estilos para el formulario */
    display: flex; /* Usar flexbox para alinear los elementos del formulario */
    flex-direction: column; /* Apilar los elementos verticalmente */
}

#signup .form-container {
    max-width: 480px; /* Establecer el ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para los campos de entrada del formulario */
.form-control {
    height: 40px; /* Establecer la altura deseada para los campos de entrada */
}

/* Estilos para los contenedores de mensajes de error */
.error-message {
    height: 20px; /* Establecer la altura deseada para los contenedores de mensajes de error */
}

input[type="text"],
input[type="email"],
button {
    margin-bottom: 10px; /* Agregar espacio entre los elementos */
}

/* Añade espacio mas espacio al rededor de botones y enlaces */
button,
a {
    padding: 10px 20px; /* Aumenta el padding para botones y enlaces */
    margin: 10px; /* Aumenta el margen para botones y enlaces */
}

/* Estilos para el botón personalizado de llamada a la acción */
.my-custom-button {
    width: calc(100% - 20px); /* Ancho del botón, ajustado al contenedor */
    max-width: 200px; /* Ancho máximo del botón */
    background-color: #5CA1B4; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    padding: 10px 15px; /* Ajusta el relleno para aumentar el tamaño verticalmente */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cursor cambia a mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
    align-self: center; /* Alinear el botón al centro dentro del contenedor */
}

/* Estilos para el botón personalizado cuando se pasa el cursor sobre él */
.my-custom-button:hover {
    background-color: #386E82; /* Cambiar color de fondo del botón al pasar el cursor */
}

.my-custom-button {
    text-decoration: none; /* Eliminar el subrayado del enlace */
}

.footer { /* Define estilos para el footer */
    background-color: #d4e6eb;
    padding: 20px;
    color: black;
    margin-top: 20px; /* Agregar margen superior para dejar un espacio entre el formulario y el footer */
}

.footer p { /* Define estilos para el parrafo del footer */
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer p.derechos {/* Define estilos para los derechos de autor */
    text-align: center; /* Alinea al centro */
    font-size: 14px; /* Tamaño de fuente para el párrafo de derechos de autor */
}

/* Estilos para el texto de los testimonios y derechos de autor */
.testimonials p,
.footer p.derechos {
    color: black; /* Color del texto */
}

/* Estilos para los testimonios */
.testimonials .testimonial {
    background-color: transparent; /* Hacer que el fondo del contenedor de testimonios sea transparente */
}

.testimonials { /* Estilos para testimonios */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial { /* Estilos para testimonios */
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}


