/* Archivo estilos.css */
/* Este archivo define los estilos para la landing page del proyecto */
/* de Caroline Sada */


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eff4f5; /*Define color de fondo del cuerpo */
    margin: 0; /* Eliminar márgenes para evitar espacios no deseados */
    padding: 0; /* Eliminar relleno para evitar espacios no deseados */
}

h1 {
    color: black; /* Define el color del texto del encabezado */
    margin-top: 25px; /* Espacio arriba del h1 */
    text-align: left; /* Alinear el texto a la izquierda */
    margin-bottom: 10px; /* Espacio abajo del h1 */
}

h3 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 40px; /* Definir margen superior */
    margin-bottom: 20px;
}

h5 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 10px;
    margin-bottom: 20; /* Eliminar margen inferior */
}

h6 {
    text-align: center; /* Centrar horizontalmente */
    margin-top: 30px;
    margin-bottom: 10; /* Eliminar margen inferior */
}

#features h4, #about h4 {
    color: #5CA1B4; /* Cambiar el color del texto del h4 a azul */
}

#features h4,
#features ul {
    text-align: left; /* Alinea el texto al centro */
}

.text-center {
    text-align: center; /* Alinea los titulos de about y features al centro */
}

.logo { /* Define estilos para el logo */
    font-size: 4vw;
    font-weight: 100;
    font-family: 'Parisienne', cursive;
    color: black;
    margin-bottom: 20px;
}

.logo-container { /* Define estilos para el contenedor del logo */
    margin-left: 5%; /* Utiliza un porcentaje para el margen izquierdo del contenedor del logo */
    margin-top: 2%; /* Utiliza un porcentaje para el margen superior del contenedor del logo */
    width: 30%; /* Utiliza un porcentaje para el ancho del contenedor del logo */
}

.header-container { /* Define estilos para el contenedor del header */
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden; /* Evitar que el contenido se desborde fuera del contenedor */
}

.header-image { /* Define estilos para la imagen del header */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar la imagen manteniendo la relación de aspecto */
    z-index: -1;
}

.header-text { /* Define estilos para los textos del header */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: white;
    max-width: 80%; /* Ancho máximo para el texto */
}

.header-text h1 {
    font-size: 4vw; /* Tamaño de fuente responsivo */
    max-width: 100%; /* Ancho máximo para el texto */
    word-wrap: break-word; /* Rompe palabras largas para ajustarse dentro del contenedor */
}

.header-text p {
    font-size: calc(1.5vw + 0.5vh); /* Tamaño de fuente relativo al ancho de la ventana y alto de la ventana */
    margin-top: 2vh; /* Margen superior relativo al alto de la ventana */
    text-align: center; /* Alinear el texto al centro */
}

.header-text h1,
.header-text p {
    font-size: 24px; /* Tamaño de fuente fijo para todas las pantallas */
}

.no-bullets { /* Elimina viñetas de la lista */
    list-style-type: none;
}

/* Asegurar que no haya espacio adicional en los elementos de la lista */
#features ul {
    padding-left: 0;
}

#features li { /* DEfine margen de la lista */
    margin-left: 0;
}

#seccion-fondo { /* Define color de fondo de la sección "Sobre el curso" */
    background-color: #d4e6eb; /* Color de fondo de la sección */
    padding: 20px; /* Opcional: añade relleno para que el color de fondo sea visible */
}

.titulo-h6 { /* Define color del titulo h6 */
    color: #5CA1B4; /* Color de fondo del título */
}

.form-container { /* Define estilos para el contenedor del formulario */
    background-color: #FFFFFF; /* Cambiar color de fondo del contenedor del formulario */
    padding: 20px; /* Agregar espacio alrededor del formulario */
    border-radius: 6px; /* Agregar borde redondeado al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra al contenedor */
}

form { /* Define estilos para el formulario */
    display: flex; /* Usar flexbox para alinear los elementos del formulario */
    flex-direction: column; /* Apilar los elementos verticalmente */
}

#signup .form-container {
    max-width: 480px; /* Establecer el ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

input[type="text"],
input[type="email"],
button {
    margin-bottom: 10px; /* Agregar espacio entre los elementos */
}

/* Estilos para el botón personalizado de llamada a la acción */
.my-custom-button {
    width: calc(100% - 20px); /* Ancho del botón, ajustado al contenedor */
    max-width: 200px; /* Ancho máximo del botón */
    background-color: #5CA1B4; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    padding: 8px 15px; /* Espaciado interno del botón */
    border-radius: 5px; /* Borde redondeado del botón */
    cursor: pointer; /* Cursor cambia a mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
    align-self: center; /* Alinear el botón al centro dentro del contenedor */
}

/* Estilos para el botón personalizado cuando se pasa el cursor sobre él */
.my-custom-button:hover {
    background-color: #386E82; /* Cambiar color de fondo del botón al pasar el cursor */
}

.footer { /* Define estilos para el footer */
    background-color: #d4e6eb;
    padding: 20px;
    color: black;
    margin-top: 20px; /* Agregar margen superior para dejar un espacio entre el formulario y el footer */
}

.footer p { /* Define estilos para el parrafo del footer */
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer p.derechos {
    text-align: center; /* Alinea al centro */
    font-size: 14px; /* Tamaño de fuente para el párrafo de derechos de autor */
}

/* Estilos para el texto de los testimonios y derechos de autor */
.testimonials p,
.footer p.derechos {
    color: black; /* Color del texto */
}

/* Estilos para los testimonios */
.testimonials .testimonial {
    background-color: transparent; /* Hacer que el fondo del contenedor de testimonios sea transparente */
}

.testimonials { /* Estilos para testimonios */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial { /* Estilos para testimonios */
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
