/* Archivo estilos_responsivos.css */
/* Define los estilos para que la landing page se adapte a cualquier */
/* tipo de dispositivo */

/* Estilos para pantallas de 576 pixeles o menos */
@media screen and (max-width: 576px) {
    .feature-columns {
        flex-direction: column; /* Apilar las columnas en dispositivos móviles */
    }
    .feature-column {
        flex: 1 0 100%; /* Ancho completo para columnas en dispositivos móviles */
        margin-top: 20px; /* Reducir margen superior en dispositivos móviles */
    }
    .footer {
        text-align: center; /* Centrar texto del footer en dispositivos móviles */
    }
    .form-container {
        padding: 10px; /* Reducir el padding en dispositivos móviles */
    }

    input[type="text"],
    input[type="email"],
    button {
        margin-bottom: 10px; /* Reducir el espacio entre los elementos en dispositivos móviles */
    }

    .section {
        margin-bottom: 20px; /* Agregar margen inferior entre las secciones en dispositivos pequeños */
    }

    .form-container {
        padding: 10px; /* Reducir el padding en dispositivos móviles */
    }

    .logo-container.otro-color-fondo {
        text-align: center; /* Centrar el texto en dispositivos móviles */
    }

    .logo-container.otro-color-fondo .logo {
        font-size: 1.2rem; /* Reducir el tamaño de la fuente del logo en dispositivos móviles */
    }

    .logo-container.otro-color-fondo p {
        font-size: 0.9rem; /* Reducir el tamaño de la fuente del texto en dispositivos móviles */
    }

    .logo-container.otro-color-fondo a.enlace-boton-registro {
        display: block; /* Convertir el enlace en un bloque para ocupar el ancho completo */
        margin-top: 10px; /* Agregar espacio entre el texto y el botón en dispositivos móviles */
    }
    img { /* Estilos para imágenes */
        max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor padre */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    }
}

/* Estilos para pantallas de 768 pixeles o menos */
@media screen and (max-width: 768px) {
    .header-image {
        width: 200px; /* Disminuir el tamaño de la imagen en pantallas pequeñas */
    }

    .logo {
        font-size: 1.5rem; /* Disminuir el tamaño del logo en pantallas pequeñas */
    }

    .text-container {
        font-size: 1.5rem; /* Disminuir el tamaño del texto en pantallas pequeñas */
    }

    #about, #features {
        text-align: center; /* Centrar texto en dispositivos móviles */
    }

    #features ul {
        padding-left: 0; /* Alinear la lista de características al centro */
    }

    .feature-column {
        width: 100%; /* Ancho completo para columnas en dispositivos móviles */
    }

    .footer {
        text-align: center; /* Centrar texto del footer en dispositivos móviles */
    }
    .section {
        margin-bottom: 20px; /* Ajustar el espacio entre secciones en dispositivos pequeños */
    }

    #carousel iframe {
        width: 100%; /* Ajustar el ancho del iframe en dispositivos pequeños */
    }

    #about p {
        text-align: left; /* Alinear el párrafo a la izquierda en dispositivos pequeños */
    }
    
    .image-container {
        text-align: center; /* Centrar la imagen en dispositivos pequeños */
    }
    .logo-container {
        margin-top: 10px; /* Ajustar margen superior para dispositivos móviles */
    }

    .logo-container .logo {
        font-size: 1.5rem; /* Reducir tamaño de fuente para dispositivos móviles */
    }

    .logo-container h3 {
        font-size: 1rem; /* Reducir tamaño de fuente para dispositivos móviles */
        margin-top: 10px; /* Ajustar margen superior para dispositivos móviles */
    }

    img { /* Estilos para imágenes */
        max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor padre */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    }
}

/* Estilos para pantallas de 1200 o mas */
@media screen and (min-width: 1200px) {

    .feature-columns {
        padding: 40px; /* Aumentar el espacio alrededor de las columnas de características para pantallas grandes */
    }
    img { /* Estilos para imágenes */
        max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor padre */
        height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    }
}
